<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main application page</title>
</head>
<body>
<div>
    <h2>Главная страница системы анализа и учёта личных расходов</h2>
    <h3>Добро пожаловать, <span th:text="${name}"></span>!</h3>
</div>

<div>
    <h3>Информация о доходах и расходах:</h3>
</div>
<div>
    <a th:href="@{/category/list}">
        <input type="submit" value="Категории расходов и доходов"/>
    </a>
</div>

<div>
    <a th:href="@{/expense}">
        <input type="submit" value="Добавление информации о расходах"/>
    </a>
</div>

<div>
    <h3>Формирование отчётов:</h3>
</div>

<div>
    <a th:href="@{/report/expense/all}">
        <input type="submit" value="По всем категориям расходов"/>
    </a>
</div>

<div>
    <a th:href="@{/report/expense/specific}">
        <input type="submit" value="По конкретной категории расходов"/>
    </a>
</div>

</body>
</html>